# Node modules
node_modules/

# Playwright Reports
playwright-report/
test-results/
blob-report/

# Screenshots & Videos
screenshots/
videos/
trace/

# Logs
logs/

# Environment files
.env
.env.*

# OS Files
.DS_Store
Thumbs.db

# VS Code (share only recommended settings)
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json